.genericCard
{
    background-color:blueviolet;
    transition: transform 2s;
    border: 4px solid;
    text-align: center;
    padding: 20px;
}

.cardStyle1{
    float: left;
    transform: scale(0.5) translate(-90%, -80%);   
}

.cardStyle2{
    float: right;
    transform: scale(0.5) translate(90%, -80%);   
}
.cardStyle3{
    float: left;
    transform: scale(0.5) translate(-90%, 80%);   
}
.cardStyle4{
    float: right;
    transform: scale(0.5) translate(90%, 80%);   
}

.centerStyle{
    padding: 60px;
    float: left;
    transform: scale(0.5) translate(0%, 0%);

    /*This will override generic card's background color */
    /* background-color: aquamarine;  */
}
