.cardBox{
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    background-color: black;
    color: white;
}

.cardBox:hover{
    /* Will affect all text inside cardBox, including text from other components */
    /* color:aquamarine; */
    
}

/* .cards{
    padding: 20px;
    background-color:blueviolet;
} */